<!-- update -->
<div *ngIf="hero">
    <h2>{{hero.firstName}} detail</h2>
    <p>id : {{hero.id}}</p>
    <span>Hero firstName : </span>
    <input type="text" [(ngModel)]="hero.firstName" #firstName="ngModel" required>
    <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
        required
    </div>

    <span>Hero lastName : </span>
    <input type="text" [(ngModel)]="hero.lastName" #lastName="ngModel" required>
    <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
        required
    </div>

    <span>Hero nickName : </span>
    <input type="text" id="nickName" name="nickName" #nickName="ngModel" [(ngModel)]="hero.nickName"
        [ngModelOptions]="{ updateOn: 'blur' }" appUniqueAlterEgo>

    <div *ngIf="nickName.pending">Validating...</div>
    <div *ngIf="nickName.invalid" class="alert alter-ego-errors">
        <div *ngIf="nickName.errors?.['uniqueAlterEgo']">
            Alter ego is already taken.
        </div>
    </div>

    <span>address street : </span>
    <input type="text" [(ngModel)]="hero.address.street" required>

    <span>address city : </span>
    <input type="text" [(ngModel)]="hero.address.city" required>

    <h2>Aliases</h2>
    <button type="button" (click)="addAliasHero()">+ Add another alias</button>
    <div *ngFor="let alias of hero.aliases; let i=index trackBy:trackByIndex;">
        <!-- The repeated alias template -->
        <label for="alias-{{ i }}">Alias:</label>
        <input id="alias-{{ i }}" type="text" [(ngModel)]="hero.aliases[i]" required>
    </div>
    <button (click)="goback()">go back</button>
    <button [disabled]="!firstName.valid|| !lastName.valid 
    ||nickName.errors?.['uniqueAlterEgo'] || !nickName.valid" (click)="updateHero()">save</button>
</div>
<!-- add -->
<div *ngIf="!hero">
    <h2>add detail</h2>
    <span>Hero firstName : </span>
    <input type="text" [(ngModel)]="model.firstName" #first="ngModel" required>
    <div class="alert alert-danger">
        required
    </div>

    <span>Hero lastName : </span>
    <input type="text" [(ngModel)]="model.lastName" #last="ngModel" required>
    <div class="alert alert-danger">
        required
    </div>

    <span>Hero nickName : </span>
    <input type="text" [(ngModel)]="model.nickName" #nickName="ngModel" appUniqueAlterEgo
        [ngModelOptions]="{ updateOn: 'blur' }" required>

    <div *ngIf="nickName.pending">Validating...</div>
    <div *ngIf="nickName.invalid" class="alert alter-ego-errors">
        <div *ngIf="nickName.errors?.['uniqueAlterEgo']">
            Alter ego is already taken.
        </div>
    </div>

    <span>address street : </span>
    <input type="text" [(ngModel)]="model.address.street" #street required>

    <span>address city : </span>
    <input type="text" [(ngModel)]="model.address.city" #city required>
    <h2>Aliases</h2>
    <button type="button" (click)="addAliasModel()">+ Add another alias</button>
    <div *ngFor="let alias of model.aliases; let i=index">
        <label for="alias-{{ i }}">Alias:</label>
        <input id="alias-{{ i }}" [(ngModel)]="model.aliases[i]" #aliases>
    </div>
    <button (click)="goback()">go back</button>
    <button [disabled]="!first.valid|| !last.valid ||
    nickName.errors?.['uniqueAlterEgo'] || !nickName.valid"
        (click)="addHero()">
        add
    </button>
</div>