<h1>add Hero</h1>
<app-hero-search></app-hero-search>

<button routerLink="/addhero">
  addHero
</button>

<ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.firstName}}
      </a>
      <button type="button" class="delete" title="delete hero"
        (click)="deleteHero(hero)">x</button>
    </li>
</ul>