<p>hero-search works!</p>
<h2>Search Hero</h2>
<input type="text" #search (input)="searchHero(search.value)">
<ul class="search-result">
    <li *ngFor="let hero of heroes$ |async">
        <a routerLink="/detail/{{hero.id}}">
            {{hero.firstName}}
        </a>
    </li>
</ul>